---
import Section from '@/layouts/Section.astro'
import { work } from '@cv'
import { Icon } from 'astro-icon/components'
---

<Section id="experience" title="experiencia">
  {
    work.map((job) => {
      const { name, logo, url, position, startDate, endDate, summary } = job
      return (
        <article>
          <div class="info-position">
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              title={name}
            >
              <h4>
                {' '}
                <span class="circle" />
                {name}
              </h4>
            </a>
            <a
              href={url}
              target="_blank"
              rel="noopener noreferrer"
              title={name}
            >
              <Icon name={logo} />
            </a>

            <p class="position">{position}</p>
            <p class="date">
              {startDate ? startDate : 'Actualidad'} -
              {endDate ? endDate : 'Actualidad'}
            </p>
          </div>
          <ul>
            {summary.split('\n').map((line) => (
              <Fragment>
                <li class="animation-show">
                  <span>-</span> {line}
                </li>
              </Fragment>
            ))}
          </ul>
        </article>
      )
    })
  }
</Section>

<style>
  article {
    display: grid;
    gap: 5px;
  }

  article:last-of-type {
    margin-top: 20px;
  }
  @media (min-width: 768px) {
    article {
      padding: 30px;
      gap: 20px;
    }
    article:last-of-type {
      margin-top: 0;
    }
  }

  h4 {
    position: relative;
  }
  .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--secondary-100);
    display: inline-block;
    left: -20px;
    top: 8px;
    position: absolute;
  }
  @media (min-width: 768px) {
    .circle {
      left: -30px;
    }
  }

  .info-position {
    display: grid;
    padding: 20px 0 0 20px;

    p {
      font-family: var(--font-primary-100);
      font-size: 18px;
    }
  }

  [data-icon] {
    display: none;
  }

  .position {
    color: var(--secondary-100);
  }
  @media (min-width: 768px) {
    .info-position {
      grid-template-columns: 1fr 1fr;
      padding: 0;
    }
    [data-icon] {
      display: block;
      grid-column: 1;
    }
    p {
      justify-self: flex-end;
      grid-column: 2;
    }
    .position {
      grid-row: 1;
    }
  }
  li {
    position: relative;
    padding: 10px 0 0;
  }
  span {
    display: none;
  }

  @media (min-width: 768px) {
    li {
      padding: 0 0 10px 20px;
    }
    span {
      display: initial;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>
